.App {
  text-align: center;
  background-color: #282c34;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  margin: 80px 0;
  min-width: 400px;
}

.slogan {
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login {
  margin: 0 auto;
}

.link {
  color: #61dafb;
}

footer {
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
